rewriteEngine on

#------------------------------------------------------------------
# old
#rewriteRule ^([a-zA-Z0-9\/\-\_:=]*)$ index.php?p=$1
#rewriteRule ^([a-zA-Z0-9\/\-\_:=]*)\.html$ index.php?p=$1 [L]
#------------------------------------------------------------------





#------------------------------------------------------------------
# New
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* /index.php [L,QSA]
#------------------------------------------------------------------



#------------------------------------------------------------------
# redirect to https://www.
RewriteCond %{HTTPS} !on
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
#------------------------------------------------------------------



#------------------------------------------------------------------
# default favicon
# Options +FollowSymLinks
# RewriteRule ^favicon.ico ./favicon.ico [L]
#------------------------------------------------------------------